

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <style>
    div {
        font-family: 'Happy Monkey', cursive;
    }

    </style>
{% if form.errors %}
<p>Tu usuario y contraseña no coinciden. Intenta de nuevo.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a la página. Haz login con una que si lo tenga.</p>
    {% else %}
    <p>Haz login para ver la página.</p>
    {% endif %}
{% endif %}
    <div>
{% load static %}
 <img src= "{% static "images/logo.PNG" %}" class="img-rounded" alt="BookSharing">
 </div>

    <div class="container">
     <a href="{% url 'signup'%}" class="btn btn-info" role="button">Nuevo Usuario </a>
     <button type="button" class="btn btn-success btn-success" id="myBtn">Ya estoy registrado! </button>
    </div>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:green;"><span class="glyphicon glyphicon-lock"></span> Accede a la web</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
                {% csrf_token %}
                <label for="usrname"><span class="glyphicon glyphicon-user"></span>{{ form.username.label_tag }}</label>
                <br>
                <span>{{ form.username }}</span>
            </div>
            <div class="form-group">
              <label for="psw" class="glyphicon glyphicon-eye-open"></span>{{ form.password.label_tag }}</label>
                <br>
                <span>{{ form.password }}</span>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Recuérdame</label>
                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Olvidaste la contraseña?</a></p>
            </div>
            <button type="submit" class="btn btn-default btn-success " id="ok" ><span class="glyphicon glyphicon-off"></span> OK! {{ next }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</form>
 </div>

    </div>
    </div>
  </div>
    <div style="padding-left: 200px;">
    <p> Si te registras y accedes a esta página podrás:</p>
<li> Visualizar el catálogo de libros por categorías</li>
<li> Puntuar y comentar los libros </li>
<li> Ver el ranking de los libros mejor puntuados y la crítica hecha sobre ellos </li>
    </div>

<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
$(document).ready(function(){
    $("#myNewBtn").click(function(){
        $("#registro").modal();
    });
});

$(document).ready(function(){
    $("#ok").click(function(){

    });
});
</script>

{% endblock %}
<footer class="container-fluid text-center">
	<div class="container">
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://es-es.facebook.com/" class="btn-floating btn-fb mx-1">
            <i class="fa fa-facebook"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/" class="btn-floating btn-tw mx-1">
            <i class="fa fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/" class="btn-floating btn-li mx-1">
            <i class="fa fa-instagram"> </i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
    </div>
	<div class="footer-copyright text-center py-3">© 2018 Copyright:BookSharing
    </div>

</footer>
</html>