

{% block content %}
    <!DOCTYPE html>
<html lang="en">

 <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
 <style>

    p{
        font-family: 'Happy Monkey', cursive;
        padding-left: 50px;
    }


    </style>
    <h2></h2>
<br>
  <p>
   Hemos enviado las instrucciones para restablecer tu contraseña.
      Si una cuenta existe con el email que has introducido deberias recibirlo.

  </p>
  <p>
    Si no recibes un email , por favor asegúrate que has introducido la dirección con la que te registraste y mira la carpeta spam.

  </p>
{% endblock %}
</html>