

{% block content %}
    <!DOCTYPE html>
<html lang="en">

 <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
 <style>

    h2{
        font-family: 'Happy Monkey', cursive;
        padding-left: 50px;
    }

 form{
     font-family: 'Happy Monkey', cursive;
     padding-left: 50px;
 }


    </style>
  {% if validlink %}
    <h2>Cambio de contraseña</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button href="{% url 'password_reset_done' %}"type="submit" class="btn btn-default btn-success ">Aceptar </button>
    </form>
  {% else %}
    <p>
        El link era invalido , quizá ya había sido usado.
        Por favor solicita una reseteo de contraseña nuevo.
    </p>
      < <button href="{% url 'password_reset_form' %}"type="submit" class="btn btn-default btn-success " >Aquí </button>
  {% endif %}
{% endblock %}
</html>