{% extends "admin/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">


</head>
<style>

</style>
{% block branding %}


     {% load static %}
    <img src="{% static "/images/logo.PNG" %}" style="display:inline;"height="45px" width="45px" alt="BookSharing"/>

 <h1 style="float:right;margin-left:10px;">BookSharing</h1>

{% endblock  %}
