<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>BookSharing</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<style>

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar{
      margin-bottom: 0;
      border-radius: 0;
      background-color: #95bd7a;
      border-color: #95bd7a;

    }

    .navbar-header img {
  	height: 50px;
  	margin: 5px;
	}
   .navbar .navbar-nav .nav-link {
    color: black;
     }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 20px;
    }



  #form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: black;
}



label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

div{
     font-family: 'Happy Monkey', cursive;
}
  /* Hide the carousel text when the screen is less than 600 pixels wide */
 @media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }



	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: black;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
    }

  </style>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="bt-menu"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
     {% load static %}
         <img src="{% static "images/logo.PNG" %}"  alt="BookSharing"/>
      </div>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar" >
      <ul class="nav navbar-nav">

        <li class="active" ><a href="{% url 'index'%}">Home</a></li>
        <li><a class="nav-link " href="{% url 'genero'%}">Categorias</a></li>
        <li><a class="nav-link " href="{% url 'ranking'%}">Ranking</a></li>
        <li><a class="nav-link " href="{% url 'sugerencia'%}">Sugerencias para ti</a></li>
        <li><a class="nav-link " href="{% url 'critica'%}">Puntua</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
        <li><a href="#" class="nav-link"><span ></span> Bienvenid@ {{ user.get_username }} !!</a></li>
              <li><a class="nav-link" href="{% url 'logout'%}">Desconectar</a></li>

          {% else %}
          {% endif %}
      </ul>

    </div>
  </div>
</nav>


<body>

<div class="container-fluid">

<div class="row">
  <div class="col-sm-1">
  {% block sidebar %}

   {% if user.is_authenticated %}

   {% else %}

   {% endif %}

   {% if perms.catalog.can_mark_returned %}

   {% endif %}

{% endblock %}
  </div>
  <div class="col-sm-12 ">
  {% block content %}{% endblock %}

  </div>
</div>

</div>
</body>
<footer class="container-fluid text-center">
	<div class="container">
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/" class="btn-floating btn-fb mx-1">
            <i class="fa fa-facebook"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.twitter.com/"class="btn-floating btn-tw mx-1">
            <i class="fa fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/" class="btn-floating btn-li mx-1">
            <i class="fa fa-instagram"> </i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
    </div>
	<div class="footer-copyright text-center py-3">© 2018 Copyright:BookSharing
    </div>

</footer>
</html>