
{% extends "base_generic.html" %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <title>Puntúa y comenta</title>
</head>
<style>
form {
    margin-top: 50px;
}
div {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
}

div p {

    margin: 5px;
}

button {
    margin-bottom: 20px;
    text-align: left;
    background-color: #3A7734;

}
</style>
<body>

<h1>Puntúa y comenta los libros </h1>
<form action="" enctype="multipart/form-data" method="POST">
	{% csrf_token %}
	<table class="table">
  <thead class="thead-dark">
    {{ form.as_table }}
  </thead>
	</table>
	<button class="btn btn-default btn-success"type="submit">Enviar </button>
</form>
</body>
</html>
{% endblock %}