{% extends "base_generic.html" %}

{% block content %}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <title>Categorias</title>
</head>
 <style>
    h2{

    font-family:'Happy Monkey', cursive;
    text-align: center ;

    }

    a{
        font-family:'Happy Monkey', cursive;
        float: left;

    }
     ul{
         padding-left: 10px;
     }

     .button{
         background-color: darkgreen;
     }


  </style>

<br>

<h2>Elige la categoría</h2>

{%  for p in p %}
  <div class="col-sm-3">
    <ul>{{p.p }}</ul>
    <img src="../{{ p.imagen.url}}" style="width:200px;height:200px;display:block;margin:auto;">
  </br>
    <a href="{{p.id}}"  class="btn btn-default btn-success" role="button" style="display:block;margin:auto;">{{ p.name }}</a>

    </br>
  </div>
    {% endfor %}

</br>
</body>
</html>
{% endblock %}
