{% extends "base_generic.html" %}

{% block content %}
 <!DOCTYPE html>
<html lang="en">
 <head>
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">


<style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #95bd7a;
      border-color: #95bd7a;

    }

    .navbar-header img {
  	height: 50px;
  	margin: 5px;
	}
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 20px;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  #form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
  /* Hide the carousel text when the screen is less than 600 pixels wide */
 @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
   div a{
        font-size: 18px;
    }

  </style>
</head>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" ></li>
      <li data-target="#myCarousel" data-slide-to="1"class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
          <div>
        {% load static %}
     <img src= "{% static "images/cervantes1.PNG" %}" style="width:100%; height:400px;" class="img-rounded" alt="cervantes">
    </div>

      </div>

      <div class="item">
          {% load static %}
        <img src="{% static "images/principito.PNG" %}" style="width:100%;height:400px;" alt="Image">

      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

    </a>
</div>

<div class="container text-center">
  <h3> Últimos libros añadidos </h3><br>

 {%  for li in li %}
  <div class="row">
    <div class="col-sm-4">
      <a href="{% url 'critica'%}"> <img  src="{{ li.portada.url}}"class="img-responsive" style="width:300px;height:300px;display:block;margin:auto;" alt="Image">
      <h4>{{ li.titulo }}</h4>
        <a href="{% url 'critica'%}" class="btn btn-default btn-success" role="button">Comenta que te ha parecido!! {{ next }}</a>
    </div>
       {% endfor %}


</div><br>
  <div><br>
    <a href="{% url 'nuevolibro'%}" >¿ No existe el libro que buscas ? Añádelo !! {{ next }}</a>
      <br>
 </div>
</div>
</div>
</html>
{% endblock %}

$(document).ready(function(){
    $("#recomienda").click(function(){

    });
});