{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</br>
</br>

<h3>El libro ha sido añadido a la librería :)  </h3>

<div>
        {% load static %}
     <img src= "{% static "images/libros.jpg" %}"  style="width:300px;height:300px;display:block;margin:auto;"class="img-rounded" alt="cervantes">
    </div>

</br>
</br
</br>
</br>
</body>
</html>
{% endblock %}