
{% extends "base_generic.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">

    <title>Libros </title>


</head>
<style>
button {
    font-family: 'Happy Monkey', cursive;
    font-size: medium;
    float: left;
    background-color: #86989B;
    margin-top:10px;
}
h1 {
    text-align:center;
}
div h2 {
    background-color: #86989B;
    text-align:center;

}
div p{
    text-align:center;
}

</style>
<body>
<button type="button" class="btn btn-outline btn-default" onclick="history.go(-1); return false;" style="">Atrás</button>
<h1>Libros  </h1>


{%  for li in li %}

 <div class="col-sm-4">
 <div style="border-radius: 10px 10px 10px 10px;border :1px solid black;padding:10px;">
    <h2 >{{li.titulo }}</h2>
    <p>{{ li.autor }} </p>
    <p>{{ li.sinopsis }}</p>
    </br>
    <img src="../../{{ li.portada.url}}" width="200" height="250">
     <a href="{% url 'critica'%}" class="btn btn-default btn-success" role="button">Comenta y puntúa</a>

 </div>

 </div>

{% endfor %}

</body>
</html>
{% endblock %}
