{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <title>Comentarios</title>
</head>
<style>
 h1{
     font-family: 'Happy Monkey',cursive ;
    }
span   {
    background-color: lightgreen;
    font-family: 'Happy Monkey', cursive;
    }
</style>
<body>

<button type="button" class="btn btn-outline btn-default" onclick="history.go(-1); return false;">Atrás</button>
{%  for critica in critica %}
 {%  if forloop.first %}
<h1> {{ critica.titulo}}</h1>
{% endif %}
{% endfor %}

<table  class="table">

  <thead class="thead-dark">
    <tr>
      <th scope="col" class="col-sm-2" >Usuario</th>
      <th scope="col" class="col-sm-2" >Puntuación</th>
      <th scope="col">Comentarios</th>
    </tr>
  </thead>
  <tbody>
  {%  for critica in critica %}
    <tr>
      <th scope="row"> {{ critica.usuario }} </th>
        <th> {{ critica.puntuacion }}</th>
      <th>{{ critica.comentario }}</th>

    </tr>
 {% endfor %}
</table>


</body>
</html>
{% endblock %}