{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Añade libro </title>
</head>
<style>
form {
    margin-top: 50px;
}
div {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
}

div p {

    margin: 5px;
}

button {
    margin-bottom: 20px;
    text-align: left;
    background-color: #3A7734;

}
</style>
<body>
<h2>Añade un autor nuevo </h2>
<form action="" enctype="multipart/form-data" method="POST">
	{% csrf_token %}
	<table class="table">
  <thead class="thead-dark">
    {{ form.as_table }}
  </thead>

	</table>
    <button class="btn btn-default btn-success"type="submit">ok! </button>
</form>
</body>

{% endblock %}
</html>