
{% extends "base_generic.html" %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <title>Ranking libros </title>
</head>
<style>
    h1{
         text-align: center;
    }

div {
    text-align: left;
    font-family: 'Happy Monkey', cursive;
}

div p {

    margin: 5px;
}
</style>
<body>

<h1>Ranking de libros </h1>

<table class="table">

  <thead class="thead-dark">
    <tr>
      <th scope="col" >*</th>
      <th scope="col">Puntuación</th>
      <th scope="col">Título del libro</th>

    </tr>
  </thead>
  <tbody>
  {%  for puntua in puntua %}
    <tr>
      <th > {{ forloop.counter }} </th>
      <td>{{ puntua.media|floatformat:'2' }}</td>
      <td>{{ puntua.titulo }}</td>
      <td><a href="{{puntua.id}}">Ver en detalle</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>


</body>
</html>
{% endblock %}