{% extends "base_generic.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<style>
 h1{
     font-family: 'Happy Monkey',cursive ;
    }
span   {
    background-color: lightgreen;
    font-family: 'Happy Monkey', cursive;
    }
</style>
<body>
{% if user.is_authenticated %}
    <h3>Estas son tus sugerencias  {{ user.get_username }} !!</h3>
      {%  for librosug in librosug %}
<div class="row">
      <div class="col-sm-3" >

        <h4> {{ librosug.titulo}}</h4>
         <img src="../{{ librosug.portada.url}}" width="200" height="250" style="float:left;"></th>
        </div>
    {% endfor %}
          {% else %}
    <p> {{ librosug }} </p>
          {% endif %}
</div>


</body>
</html>
{% endblock %}
